@page
@model DentalSystem.Web.Pages.Appointments.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>All Appointments</h2>

@if (this.Model.Appointments.Any())
{
    <ul>
        @foreach (var item in this.Model.Appointments)
        {
            <li>              
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.DateTime </h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.DoctorName</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@item.PatientName</h6>            
                            <p class="card-body">@item.TotalPrice</p>
                        </div>
                    </div>
                
            </li>
        }
    </ul>
}

